<p class="centerText boldText">Welcome to Chirpus Pizza</p>

<table class="centerTable">
  <tr>
    <th>Item</th>
    <th>Category</th>
    <th>Price</th>
    <th>Vegeterian</th>
  </tr>

  <tr *ngFor="let item of menuItem">
    <td *ngIf="!item.soldOut">{{item.name}}</td>
    <td *ngIf="item.soldOut" class="soldOutStrikeThrough">{{item.name}}</td>
    <td>{{item.catagory}}</td>
    <td>{{item.price}}</td>
    <td>{{item.vegetarian}}</td>
    <button *ngIf="!item.soldOut" (click)="addToOrder(item)">Add to Order</button>
    <button *ngIf="item.soldOut" disabled>Add to Order</button>
  </tr>

</table>

<p class="centerText boldText">Current Order Cost: ${{totalPrice}}</p>